p {
	word-spacing: 2px;
}
body {
	background-color:  white;
	font-family: arial, sans-serif;
	color: black;
	text-align: center;
}
h1 {
	word-spacing: 3px;
}
.menu {
	background-color: #778899
}
.rubrik {
	font: 15px arial, sans-serif;
}
.profilbild {
	border-radius: 50%;
}
.profilbild {
	width: 250px;
	heigt: auto;
}
.img-circle {
	border-radius: 50%;
}
.resize2 {
		width:200px;
		height: auto;
}
.contact {
		background-color: #778899;
		padding-top: 50px;
		padding-bottom: 50px;
}
@media only screen and (min-width: 760px) {
	.contact {
		background-color: #778899;
	}	
}